*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header, .sobreMim{
    background-color: black;
}
ul {
    display: flex;
    width: 49%;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    height: 10vh;
}

ul > li {
    list-style: none;
}

body{
    color: grey;
}

.banner{
    text-align: center;
    text-transform: uppercase;
    margin-top: 200px;
    font-size: 1.5rem;
}
.banner_title-color{
    color: #5BCBB2;
}
.seta{
    padding: 50px;
}
.seta_img{
    width: 2%;
}
.projetos_title,  .titles{
    color: #B3B2B2;
    text-align: center;
    padding: 50px;
}
.projetos_site{
    display: flex;
}
.projetos{
    height: 90vh;
}
.site_img{
    width:90%;
}
.site_title{
    color: #B3B2B2;
    width: 90%;
    margin-top: 20px;
}

.btn{
    padding: 20px;
    text-align: center;
}
.btn_link{
    color: #48CFAD;
    border: 2px solid #48CFAD;
    padding: 7px;
    margin-top: 18px;
    font-size: 0.87rem;
    margin-bottom: 21px;
}
.sobreMim{
    background-color: black;
    text-align: center;
}
.sobreMim_img{
    background-color: #ddd;
    border-radius: 100%;
    height: 157px;
    object-fit: cover;
    width: 157px;
}

.contato{
    height: 50vh;
}
.contato_icons{
    display: flex;
    height: 10vh;
    justify-content: space-around;
}
.contato_img{
    width: 10%;    
}
.contato_img-icon{
    width: 100%;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    padding: 10px;

}

